# Series
операции

In [1]:
import numpy as np
import pandas as pd

In [2]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [3]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [5]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [6]:
sales_q1['Japan']

80

In [7]:
sales_q1.iloc[0]

80

In [8]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [9]:
sales_q1 + 100

Japan    180
China    550
India    300
USA      350
dtype: int64

In [10]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [11]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [12]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [13]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [14]:
sales_q2.dtype

dtype('int64')

In [15]:
sales_q2.sum()

1070

In [16]:
sales_q2.var()

28491.666666666668

In [17]:
sales_q2.max()

500

In [18]:
sales_q2.argmax()

1